{{ define "main" }}
	<main class="post">
		<h1 class="title">{{ .Title }}</h1>
		{{ if .Page.Params.subtitle }}
			<h2 class="subtitle">{{ .Page.Params.subtitle }}</h2>
		{{ end }}

		<div class="taxonomy">
			{{ range $category := .Params.Categories }}
				<span class="category">{{ $category }}</span>
			{{ end }}

			{{ range $tag := .Params.Tags }}
				<span class="tag">{{ $tag }}</span>
			{{ end }}
		</div>

		<div class="post-meta">
			<div class="author-name">
				<span>Author:</span>
				<span>{{ .Site.Params.author }}</span>
			</div>
			<div class="publish-date">
				<span>Published:</span>
				<span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
			</div>
			<div class="modify-date">
				<span>Last Modified:</span>
				<span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
			</div>
			<div class="reading-time">
				<span>Reading Time:</span>
				<span>{{ math.Round (div (countwords .Content) 200.0) }} minutes</span>
			</div>
		</div>

		<section class="content">
			{{ .Content }}
		</section>
	</main>

	<div class="comments">
		<h2 class="title">Comments</h2>
		{{ template "_internal/disqus.html" . }}
	</div>
{{ end }}
