{{ define "main" }}
	<div class="hero-container">
		<img src="/images/mohdsaed.png" alt="Mohammed Saed" class="hero-image">
		<div class="hero-text">
			<h1 class="hero-title">Hello, World!</h1>
			<p class="hero-subtitle">My name is Mohammed, and I'm a Computer Scientist.
				This is my little corner of the Internet and it includes my thoughts on
				computers, programming, travel, and life.</p>
			<div class="hero-socials">
				<a href="mailto:mohd.a.saed@gmail.com">
					<img src="/icons/email.svg" alt="Email">
				</a>
				<a href="https://twitter.com/moeabdol" target="blank_">
					<img src="/icons/twitter.svg" alt="Twitter">
				</a>
				<a href="https://github.com/moeabdol" target="blank_">
					<img src="/icons/github.svg" alt="Github">
				</a>
			</div>
		</div>
	</div>
{{ end }}
