{{ $image := $.Page.Resources.GetMatch (.Get "src") }}
{{ $smallImage := $image.Resize "300x" }}
{{ $caption := .Get "caption" }}
{{ $credit := print "© " .Site.Params.author }}
{{ if .Get "credit" }}
	{{ $credit = .Get "credit" }}
{{ end }}
{{ $float := "right" }}
{{ if .Get "float" }}
	{{ $float = .Get "float" }}
{{ end }}

<figure class="post-image {{ $float }}">
	{{ with $smallImage }}
		<img
			width="{{ .Width }}"
			height="{{ .Height }}"
			src="{{ .RelPermalink }}"
			alt="{{ $.Get 1 }}"
		>
	{{ end }}
	<figcaption>
		<div class="caption">
			{{ $caption }}
		</div>
		<div class="credit">
			{{ $credit }}
		</div>
	</figcaption>
</figure>
