{{ $image := $.Page.Resources.GetMatch (.Get "src") }}
{{ $smallImage := $image.Resize "300x" }}
{{ $caption := .Get "caption" }}
{{ $credit := print "© " .Site.Params.author ", " (.Page.Date.Format "2006") }}
{{ if .Get "credit" }}
	{{ $credit = .Get "credit" }}
{{ end }}
{{ $float := "right" }}
{{ if .Get "float" }}
	{{ $float = .Get "float" }}
{{ end }}

<figure class="post-image {{ $float }}">
	<a href="{{ $image.RelPermalink }}">
		{{ with $smallImage }}
			<img
		 		width="{{ .Width }}"
		 		height="{{ .Height }}"
				src="{{ .RelPermalink }}"
				alt="{{ $.Get 1 }}"
			>
		{{ end }}
	</a>
	<figcaption>
		<div class="caption">
			{{ $caption }}
		</div>
		<div class="credit">
			{{ $credit }}
		</div>
	</figcaption>
</figure>
